html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
}

#react-root {
    height: 100%;
}

#react-root > div {
    height: 100%;
}

.main-header {
    position: fixed;
    height: 56px;
    width: 100%;
    top: 0px;
    z-index: 1;
    margin: 0;
}

.menu-bar {
    position: inherit;
    width: 100%;
    height: 56px;
    font-size: 40px;
    color: white;
    text-align: center;
}

.logo-rh {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 56px;
}

.logo-idgis {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 56px;
}

.main-layout {
    position: relative;
    top: 56px;
    height: 100%;
}

.welcome-layout {
    position: fixed;
    background-color: #ccc;
    text-align: center;
    top: 56px;
    width: 100%;
    height: 100%;
}

.a-link {
    text-decoration: none;
    color: #000;
}

.wizard-link {
    position: relative;
    background-color: inherit;
    width: 40%;
    height: 500px;
    margin-left: 70px;
    float: left;
}

.viewer-link {
    position: relative;
    background-color: inherit;
    width: 40%;
    height: 500px;
    margin-right: 70px;
    float: right;
}

.image-link {
    position: relative;
    top: 10px;
    width: 80%;
    max-width: 60%;
}

.text-link {
    position: relative;
    bottom: 10px;
    color: #333;
}

.wizard-questions {
    position: fixed;
    color: #333;
    text-align: left;
    left: 36%;
}

.wizard-header {
    position: relative;
    margin-bottom: 5px;
}

.custom-radiobutton {
    position: relative;
    font-size: 150%;
    margin-bottom: 10px;
}

.wizard-button {
    position: fixed;
    right: 60px;
    bottom: 30px;
}

#map, #map div {
    height: 100%;
}

.list-item {
    min-height: 0px !important;
    height: 36px;

    border: 10px none;
    box-sizing: border-box;
    display: block;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    outline: medium none currentColor;
    font-size: 16px;
    font-weight: inherit;
    position: relative;
    z-index: 1;
    line-height: 16px;
}

.kaart-laag {
    padding: 10px 10px 10px 72px;
}

.ol-viewport {
    height: 100%;
}

canvas.ol-unselectable {
    position: fixed;
}

.menu-button {
    position: fixed !important;
    top: 162px;
    left: 10px;
    z-index: 2 !important;
    opacity: 0.8;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.home-button {
    position: fixed !important;
    top: 66px;
    right: 10px;
    z-index: 1 !important;
    opacity: 0.8;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.legenda {
    position: absolute;
    top: 68px;
    right: 10px;
    z-index: 1;
    padding: 5px;
    background-color: #730049;
    opacity: 0.8;
    height: 220px !important;
    border-radius: 5px;
}

.legenda-milieu {
    position: relative;
    right: 0px;
    z-index: 1;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

.ol-scale-line {
    display: none;
}

.ol-zoom-in {
    position: fixed !important;
    top: 220px;
    left: 10px;
    height: 48px;
    width: 48px;
    background-color: rgb(115,0,73);
    color: white;
    font-size: 18px;
    z-index: 1 !important;
    opacity: 0.8;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.ol-zoom-out {
    position: fixed !important;
    top: 278px;
    left: 10px;
    height: 48px;
    width: 48px;
    background-color: rgb(115,0,73);
    color: white;
    font-size: 18px;
    z-index: 1 !important;
    opacity: 0.8;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    min-width: 0px !important;
}