html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, Verdana, sans-serif !important;
}

#react-root {
    height: 100%;
}

#react-root > div {
    height: 100%;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.main-header {
    position: fixed;
    height: 56px;
    width: 100%;
    top: 0px;
    z-index: 1;
}

.menu-bar {
    position: relative;
    width: 100%;
    height: 56px;
    font-size: 40px;
    color: white;
    text-align: center;
}

.logo-rh {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 56px;
}

.logo-rh a {
    position: absolute;
    height: 100%;
}

.logo-rh a img {
    position: absolute;
}

.logo-idgis {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 56px;
    width: 46.5px;
}

.logo-idgis a {
    position: absolute;
    height: 100%;
    top: 0px;
    right: 0px;
}

.logo-idgis a img {
    position: absolute;
    top: 0px;
    right: 0px;
}

.main-layout {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 56px;
    overflow: hidden;
}

.welcome-layout {
    position: fixed;
    background-image: url('/rijssenholten/images/GRH-VLETGAARSMATEN-BEDRIJVENTERREIN.jpg');
    background-size: cover;
    text-align: center;
    top: 56px;
    width: 100%;
    height: 100%;
}

.a-link {
    text-decoration: none;
    color: #000;
    opacity: 1;
}

.wizard-link {
    position: relative;
    background-color: inherit;
    width: 40%;
    height: 500px;
    margin-left: 70px;
    float: left;
}

.viewer-link {
    position: relative;
    background-color: inherit;
    width: 40%;
    height: 500px;
    margin-right: 70px;
    float: right;
}

.image-link {
    position: relative;
    box-shadow: 3px 3px 10px 2px grey;
    top: 10px;
    width: 80%;
    max-width: 60%;
}

.text-link {
    position: relative;
    bottom: 10px;
    color: #000;
}

.wizard-questions {
    position: fixed;
    color: #000;
    text-align: left;
    /*text-shadow: 2px 2px 6px white;*/
    left: 36%;
}

.wizard-header {
    position: relative;
    margin-bottom: 5px;
    color: black;
}

.custom-radiobutton {
    position: relative;
    font-size: 150%;
    margin-bottom: 10px;
}

.wizard-button {
    position: fixed;
    right: 60px;
    bottom: 30px;
}

.map, .map div {
    height: 100%;
}

.searchbar {
    position: fixed;
    height: 86px !important;
    z-index: 1;
    top: 66px;
    left: 10px;
    color: white;
    opacity: 0.8;
    border-radius: 5px;
    padding-left: 10px;
    width: 270px;
}

.auto-complete > label {
    color: rgba(255,255,255,0.8) !important;
}

.auto-complete > input {
    color: rgba(255,255,255,0.8) !important;
}

.auto-complete > div > hr {
    border-color: rgb(224, 224, 224) !important;
}

/* Set the color for the search items */
div > div > div {
    color: white;
}

div[role="menu"]:hover {
    width: 900px !important;
}

div[role="presentation"] {
    background-color: #004D93;
    opacity: 0.8;
    border-radius: 5px;
}

.list-item {
    min-height: 0px !important;
    height: 36px;

    border: 10px none;
    box-sizing: border-box;
    display: block;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    outline: medium none currentColor;
    font-size: 16px;
    font-weight: inherit;
    position: relative;
    z-index: 1;
    line-height: 16px;
    color: white !important;
}

.list-item > div > div > div {
    color: white;
}

.kaart-laag {
    padding: 10px 10px 10px 72px;
}

.menu-button {
    position: fixed !important;
    top: 162px;
    left: 10px;
    z-index: 2 !important;
    opacity: 0.8;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.home-button {
    position: fixed !important;
    top: 66px;
    right: 10px;
    z-index: 1 !important;
    opacity: 0.8;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#legenda {
    position: absolute;
    right: 10px;
    top: 250px;
    z-index: 1;
    padding: 5px;
    opacity: 0.8;
    height: auto !important;
    border-radius: 5px;
    max-height: 500px;
    width: 255px;
    overflow: hidden;
    cursor: grab;
}

#legenda:active {
    cursor: grabbing;
}

#legendaheader {
    color: white;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 5px;
}

.legenda-list {
    overflow-y: auto;
    max-height: 400px;
}

h3 {
    margin-bottom: 5px;
}

.legenda-item {
    height: 24px !important;
}

.legenda-icon {
    width: 18px;
}

.ol-scale-line {
    display: none;
}

.ol-zoom-in {
    position: fixed !important;
    top: 134px;
    right: 10px;
    height: 48px;
    width: 48px;
    background-color: #004D93;
    color: white;
    font-size: 18px;
    z-index: 1 !important;
    opacity: 0.8;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.ol-zoom-out {
    position: fixed !important;
    top: 192px;
    right: 10px;
    height: 48px;
    width: 48px;
    background-color: #004D93;
    color: white;
    font-size: 18px;
    z-index: 1 !important;
    opacity: 0.8;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    min-width: 0px !important;
}

.attribution {
    position: fixed;
    height: 50px !important;
    bottom: 0px;
}

.attribution ul {
    list-style: none;
}

.attribution ul li:nth-child(1) {
    display: none;
}

.attribution button {
    display: none;
}